In [1]:
import pandas as pd
df = pd.read_csv('../data/processed/cleaned_data.csv')
median_spend = df['Purchase_Amount'].median()
df['Is_High_Spender'] = (df['Purchase_Amount'] > median_spend).astype(int)
df = pd.get_dummies(df, columns=['Purchased_Product'], prefix='Prod')

print("New features created. Shape of data:", df.shape)
df.head()

New features created. Shape of data: (38, 13)

,Customer_ID,Full_Name,Age,Gender,Purchase_Amount,Is_High_Spender,Prod_Headphones,Prod_Keyboard,Prod_Laptop,Prod_Monitor,Prod_Smartphone,Prod_Smartwatch,Prod_Tablet
0,C_1001,Torayev Asadbek Ilhomovich,24,1,1200,1,False,False,True,False,False,False,False
1,C_1002,Nishonov Mirzabek Mrodbek ogli,31,1,850,1,False,False,False,False,True,False,False
2,C_1003,BOLTAYEV JASURBEK SHUXRAT OGLI,22,1,300,0,False,False,False,True,False,False,False
3,C_1004,Eshbekov Sardor Namozboy ogli,28,1,150,0,False,False,False,False,False,True,False
4,C_1005,Rahmonova Mehrigiyo,21,0,450,0,False,False,False,False,False,False,True

In [1]:
bins = [18, 25, 35, 50, 100]
labels = ['Gen Z', 'Millennials', 'Gen X', 'Boomers']
df['Age_Group'] = pd.cut(df['Age'], bins=bins, labels=labels)
df['Age_Group_Code'] = df['Age_Group'].cat.codes
df.to_csv('../data/processed/featured_data.csv', index=False)
print("Feature Engineering complete. Data saved to 'featured_data.csv'.")

NameError: name 'pd' is not defined